<h1> Your order </h1>
<% food = Food.find(params[:food_id]) %>
<%= food.name  %> <%= food.category  %> <%= food.expiration_date  %>

<%= simple_form_for [@food, @booking] do |f| %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.button :submit %>
<% end %>
