<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <%= form_with url: foods_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a food"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<div class="navshow">
  <h1> Hello
    <% if current_user %>
    <%= current_user.first_name %>,
    <% else %>
    !
    <% end %>
  </h1>
  <div class="tt" data-bs-placement="left" title="Add a product">
    <%= link_to new_food_path, :class => "btn btn-primary btn-add" do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="home">
    <%= render "foods/card" %>
    <div class="card border-0 cardmap" id="map" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>



<!-- <% @foods.each do |food| %>

<h2> <%= link_to food.name, food_path(food) %> </h2>

<% end %>-->

