<div class="navshow">
    <% if current_user %>
    <h1> Are you hungry <%= current_user.first_name %>?
    <% else %>
    Are you hungry ?
    <% end %>
  </h1>
  <div class="tt" data-bs-placement="left" title="Add a product">
    <%= link_to new_food_path, :class => "btn btn-primary btn-add" do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="home">
    <%= render "foods/card" %>
    <div class="card border-0 cardmap" id="map" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>



<!-- <% @foods.each do |food| %>

<h2> <%= link_to food.name, food_path(food) %> </h2>

<% end %>-->
