<div class="navshow">
  <div class="backto">
    <i class="fa-solid fa-chevron-left"></i>
    <%= link_to "Back to home", foods_path  %>
  </div>
</div>

<h1 class="text-center">Add a food</h1>
<div class="center-content">
  <div class="card border-0 inner-card">
    <%= simple_form_for @food do |f| %>
      <%= f.input :name %>
      <%= f.input :category %>
      <%= f.input :expiration_date, as: :date %>
      <%= f.input :photo, as: :file %>
      <button class="btn btn-primary"><%= f.button :submit %></button>
    <% end %>
  </div>
</div>
