<p>hello</p>
<%= simple_form_for @food do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :expiration_date %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
