<!-- navbar -->
<div class="navshow">
  <div class="backto">
    <i class="fa-solid fa-chevron-left"></i>
    <%= link_to "Back to fridge", foods_path  %>
  </div>

  <div class="right-buttons">

    <% if policy(@food).edit? %>
    <%= link_to edit_food_path(@food),
      data: {turbo_method: :edit, turbo_confirm: "Are you sure?"} do %>
        <button type="button" class="btn btn-secondary"><i class="fa-solid fa-pen-to-square"></i>Edit</button>
      <% end %>
    <% end %>

    <% if policy(@food).destroy? %>
      <%= link_to food_path(@food),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <button type="button" class="btn btn-secondary"><i class="fa-solid fa-trash"></i>Delete</button>
      <% end %>
    <% end %>


  </div>
</div>

<div class="container text-center">
  <div class="product">
    <!-- content -->
    <div class="product-image">
    <% if @food.photo.key %>
       <%= cl_image_tag(@food.photo.key) %>
       <% else %>
       <%= image_tag "fruits-legumes.jpg" %>
       <% end %>
    </div>
    <div class="product-content">
      <h1><%= @food.name  %></h1>
      <p class="category"><%= @food.category %></p>
        <%= link_to new_food_booking_path(@food.id) do %>
        <button type="button" class="btn btn-primary">Reserve this food</button>
        <% end %>
      <div class="expirydate mt-3"><p>Exp. date: <%= @food.expiration_date %> </h6></p></div>
    </div>
  </div>
</div>
