<h2> <%= @food.name  %> <%= @food.category %> <%= @food.expiration_date %> </h2>

<%= link_to "Back to Fridge", foods_path  %>

<% if policy(@food).destroy? %>
<%= link_to "Delete",
  food_path(@food),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<% end %>

<% if policy(@food).edit? %>
<%= link_to "Edit",
  edit_food_path(@food),
  data: {turbo_method: :edit, turbo_confirm: "Are you sure?"}
%>
<% end %>
